<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Khang">
    <meta name="keywords" content="mira, bot">
    <title>Sorry, This Page Can't Be Accessed | Mira</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/404.css">
    <script src="/assets/js/lockkey.js"></script>
    <script>
        function GoBack() {
            if (document.referrer)
                history.back();
            else
                window.location.href = "https://google.com/";
        }
    </script>
</head>

<body>
    <main>
        <div class="main-text">
            <h3>ERROR CODE: 403</h3>
            <h1>OOOPS!!</h1>
            <h2>Please go back to the previous page to continue browsing.</h2>
            <a onclick="GoBack()">Go Back</a>
        </div>
        <div class="main-image">
            <img src="/assets/image/403.png" alt="">
        </div>
    </main>
</body>

</html>